stages:
  - build

build-job:
  stage: build
  tags:
    - windows
  script:
    - dotnet nuget update source GitLab --username gitlab-ci-token --password $CI_JOB_TOKEN --store-password-in-clear-text
    - ./Scripts/build.ps1 -Games ES
  artifacts:
    untracked: false
    when: on_success
    access: developer
    expire_in: 1 week
    paths:
      - ./Compiled/ES
