<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="GitLab" value="https://gitlab.com/api/v4/groups/57198357/-/packages/nuget/index.json" />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Local file package source" value="References" />
  </packageSources>
</configuration>